* {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  background: grey;
}

header {
  background-color: lightgrey;
  text-align: center;
}

#headerDiv {
  width: 100%;
  background-color: green;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}
th {
  text-align: left;
}
