* {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  background: grey;
}

header {
  background-color: lightgrey;
  text-align: center;
}

#headerDiv {
  width: 100%;
  background-color: green;
}
